[pylint]
disable=
    bad-indentation,
    import-error,
    invalid-name,
    missing-function-docstring,
    missing-module-docstring,
    no-else-return,
    trailing-whitespace,
    unspecified-encoding,
    unused-argument,
    wrong-import-order,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
